<template>
  <div class="function-menu">
    <ScrollPane class="function-scroll">
      <slot />
    </ScrollPane>
  </div>
</template>
<script>
import ScrollPane from '@/components/container/ScrollPane'
export default {
  components: { ScrollPane }
}
</script>

