<template>
  <div class="tag-view">
    <div class="tags-view-container">
      <scroll-pane ref="scrollPane" class="tags-view-wrapper">
        <router-link
          ref="reftags"
          :class="isActive('/system')"
          :to="'/system'"
          :key="'/system'"
          tag="div"
          class="home-view-item"
        >
        </router-link>
        <router-link
          v-for="tag in tags"
          ref="reftags"
          :class="isActive(tag.path)"
          :to="tag.fullPath"
          :key="tag.path"
          tag="div"
          class="tags-view-item"
        >
          <span class="tag-text">{{ getTagName(tag) }}</span>
          <span
            class="el-icon-close icon-close"
            @click.prevent.stop="closeSelectedTag(tag)"
            @dragover.prevent
          />
        </router-link>
      </scroll-pane>
    </div>
  </div>
</template>

<script>
import ScrollPane from '@/components/container/ScrollPane'

export default {
  name: 'Index',
  components: { ScrollPane },
  data() {
    return {
      visible: false, // 右键是否显示
      top: 0,
      left: 0,
      height: 0,
      selectedTag: {}
    }
  },
  methods: {
    // 添加标签
    addTag() {
      let { name } = this.$route
      if (name === 'HomePage') return
      let tagName = this.$route.meta
      !tagName && (tagName = '标签')
      if (name) {
        this.$store.dispatch('addTag', this.$route)
      }
    },
    getTagName(tag) {
      console.log(tag.meta)
      if (!tag.meta || tag.meta === {} || JSON.stringify(tag.meta) === '{}') {
        return '标签'
      }
      return tag.meta
    },
    // 关闭标签
    closeSelectedTag(tag) {
      this.$store.dispatch('delTag', tag).then(res => {
        if (this.isActive(tag.path)) {
          let latestView = '/system'
          if (res.tags.length > 0) {
            if (res.index >= res.tags.length) {
              latestView = res.tags[res.index - 1].fullPath
            } else {
              latestView = res.tags[res.index].fullPath
            }
          }
          this.$router.push(latestView)
          if (res.length === 0 && tag.name === 'Homepage') {
            this.refresh(tag)
          }
        }
      })
    },
    // 关闭其他标签
    closeOtherTags(tag) {
      this.$store.dispatch('delOtherTags', tag)
      if (!this.isActive(tag)) {
        this.$router.push(tag.fullPath)
      }
    },
    // 关闭所有标签
    closeAllTags() {
      this.$store.dispatch('delAllTags').then(() => {
        this.$router.push('/homepage')
      })
    },
    // 刷新
    refresh(tag) {
      let { fullPath, name } = tag
      this.$store.dispatch('delCache', name)
      this.$router.replace(`/refresh${fullPath}`)
    },
    // 将打开的标签移进窗口
    moveToCurrentTag() {
      let reftags = this.$refs.reftags
      this.$nextTick(() => {
        for (let reftag of reftags) {
          if (reftag.to === this.$route.fullPath) {
            this.$refs.scrollPane.moveToTarget(reftag.$el)
            // this.$store.dispatch('updateTag', this.$route)
            break
          }
        }
      })
    },
    // 是否激活标签
    isActive(path) {
      return path === this.$route.path ? 'active' : ''
    },
    // 右键菜单
    openMenu(tag, e) {
      this.visible = true
      this.selectedTag = tag
      this.left = this.navShow ? (e.clientX - 210) : e.clientX// - offsetLeft + 200 //
      this.top = e.clientY - 48
      this.height = 120
    },
    closeMenu() {
      this.visible = false
    }
  },
  computed: {
    menus() {
      return this.$store.state.user.userInfo.permissions.menus
    },
    tags() {
      return this.$store.state.tags.tags
    }
  },
  watch: {
    // 监测路由变化，根据路由添加标签
    $route() {
      this.addTag()
      this.moveToCurrentTag()
    },
    visible(value) {
      if (value) {
        document.body.addEventListener('click', this.closeMenu)
      } else {
        document.body.removeEventListener('click', this.closeMenu)
      }
    }
  },
  mounted() {
    this.addTag()
  }
}
</script>

<style scoped lang="scss">
.tag-view {
  min-width: 1230px;
  width: 100%;
  height: 55px;
  background: #F5F5F5;
  display: flex;
  align-items: center;

  .tags-view-container {
    text-align: left;
    height: 56px;
    width: 100%;
    //display: inline-block;
    //background: #fff;
    display: flex;
    align-items: center;
    //box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
    box-sizing: border-box;
    user-select: none;
    position: relative;

    .tags-view-wrapper {
      box-sizing: border-box;
      line-height: 52px;

      .home-view-item {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid #cccccc;
        background: url("../../../assets/images/home_icon.png") center center no-repeat;
        background-size: 30px 30px;
        border-radius: 3px;
        &.active {
          color: #FFFFFF;
          background: url("../../../assets/images/home_active.png") center center no-repeat;
          background-size: 30px 30px;
          border-color: #BD0110;
        }
      }
      .tags-view-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        min-width: 95px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #cccccc;
        color: #495060;
        background: #fff;
        padding: 0 12px;
        font-size: 12px;
        font-family: PingFang SC, PingFang SC-Regular;
        font-weight: 400;
        margin-left: 8px;
        border-radius: 3px;
        .tag-text {
          margin-right: 25px;
        }
        .icon-close {
          font-size: 10px;
          border-radius: 50%;
        }
        .icon-close:hover {
          background: #999999;
        }

        &:last-of-type {
          margin-right: 10px;
        }

        &.active {
          background-color: #BD0110;
          color: #FFFFFF;
          border-color: #BD0110;
        }
      }
    }

    .contextmenu {
      margin: 0;
      background: #fff;
      z-index: 9999;
      overflow: hidden;
      position: absolute;
      list-style-type: none;
      padding: 5px 0;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 400;
      color: #333;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);

      li {
        margin: 0;
        height: 20px;
        line-height: 20px;
        padding: 5px 20px;
        cursor: pointer;

        &:hover {
          background: #ecf5ff;
          color: #7cb1ff;
        }
      }
    }
  }
}

$height: 53px;
</style>
