<template>
<div class="layout-view">
  <header-view></header-view>
  <el-row style="display: flex">
    <el-col class="page-left">
      <nav-view :isClosed.sync="isCollapse"></nav-view>
    </el-col>
    <el-col class="page-content">
      <tag-view :style="{'padding-left':(isCollapse ? '73px' : '0px')}"></tag-view>
      <div :style="{'padding-left':(isCollapse ? '73px' : '0px')}" style="background: #F5F5F5;">
        <div class="page-container" id="pageContainer">
          <router-view/>
        </div>
      </div>
    </el-col>
  </el-row>
</div>
</template>

<script>
import HeaderView from '@/components/layout/header/Index'
import TagView from '@/components/layout/tag/Index'
import NavView from '@/components/layout/nav/Index'
export default {
  name: 'Layout',
  components: { HeaderView, TagView, NavView },
  data() {
    return {
      isCollapse: false
    }
  }
}
</script>

<style scoped lang="scss">
.layout-view {
  width: 1440px;
  .page-left {
    display: inline-block;
    //width: 210px;
    width: auto;
    max-width: 230px;
    //height: auto;
    overflow-x:hidden;
    word-break:break-all;
    height: calc(100vh - 107px);
    overflow-y: auto;
    background: #F5F5F5;
  }
  .page-left::-webkit-scrollbar-thumb {
    display: none;
  }

  .page-left:hover::-webkit-scrollbar-thumb {
    display: block;
  }
  .page-content {
    width: auto;
    flex: 1;
    right: 0;
    height: auto;
    //background: #42b983;
    .page-container {
      background: #F5F5F5;
      width: 100%;
      //overflow-x: visible;
      height: calc(100vh - 160px);
      overflow-x:hidden;
      word-break:break-all;
      overflow-y: auto;
    }
  }
}
</style>
