<template>
<div class="address-manage">
  <div class="page-left">
    <p class="page-title">标准地址树</p>
    <div class="search-item">
      <el-input
        placeholder="请输入内容"
        suffix-icon="el-icon-search"
        size="mini"
        style="width: 255px;"
        v-model="addressName">
      </el-input>
    </div>
<!--    <div class="address-title">-->
<!--      <span class="title-text">全国</span>-->
<!--      <i class="title-icon open-icon"></i>-->
<!--    </div>-->
    <el-collapse v-model="activeName" accordion @change="addressChange">
      <el-collapse-item name="address">
        <template slot="title">
          <div class="collapse-title">
            <span class="title-text">全国</span>
            <i class="title-icon" :class="addressIsOpen ? 'close-icon': 'open-icon'"></i>
          </div>
        </template>
        <div class="address-content">
          <el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
  <div class="page-right">
    <p class="page-title">标准地址管理</p>
    <div class="action-bar" @click="submitForm('form')">
      <span class="action-title">操作类型</span>
      <div class="action-item" @click="submitForm('form', 'add')">
        <i class="icon-item add-address-icon"></i>
        <span class="action-text">添加子地址</span>
      </div>
      <div class="action-item" @click="submitForm('form', 'edit')">
        <i class="icon-item edit-address-icon"></i>
        <span class="action-text">修改</span>
      </div>
      <div class="action-item" @click="submitForm('form', 'delete')">
        <i class="icon-item del-address-icon"></i>
        <span class="action-text">删除</span>
      </div>
    </div>
    <div class="form-content">
      <el-form ref="form" :inline="true" :rules="rules" :model="formInline" class="demo-form-inline">
        <el-form-item label="父地址编码" prop="parentAddressCode">
          <el-input size="mini" v-model="formInline.parentAddressCode" placeholder="父地址编码" style="width: 270px"></el-input>
        </el-form-item>
        <el-form-item label="父地址名称" prop="parentAddressName">
          <el-input size="mini" v-model="formInline.parentAddressName" placeholder="父地址名称" style="width: 270px"></el-input>
        </el-form-item>
        <el-form-item label="地址名称" prop="addressName">
          <el-input size="mini" v-model="formInline.addressName" placeholder="地址名称" style="width: 270px"></el-input>
        </el-form-item>
        <el-form-item label="地址编码" prop="addressCode">
          <el-input size="mini" v-model="formInline.addressCode" placeholder="地址编码" style="width: 270px"></el-input>
        </el-form-item>
        <el-form-item label="经度" prop="longitude">
          <el-input size="mini" v-model="formInline.longitude" placeholder="经度" style="width: 270px"></el-input>
        </el-form-item>
        <el-form-item label="纬度" prop="dimension">
          <el-input size="mini" v-model="formInline.dimension" placeholder="纬度" style="width: 270px"></el-input>
        </el-form-item>
        <el-form-item label="地址类别" prop="addressType">
          <el-select
            size="mini"
            v-model="formInline.addressType"
            placeholder="地址类别"
            style="width: 270px">
            <el-option
              v-for="item in addressTypeData"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="地址状态" prop="addressState">
          <el-select
            size="mini"
            v-model="formInline.addressState"
            placeholder="地址状态"
            style="width: 270px">
            <el-option
              v-for="item in addressStateData"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="备注" prop="note">
          <el-input
            size="mini"
            type="textarea"
            v-model="formInline.note"
            placeholder="备注"
            :autosize="{ minRows: 4, maxRows: 6}"
            style="width: 615px;margin-top: 4px;">
          </el-input>
        </el-form-item>
      </el-form>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: 'Index',
  data() {
    return {
      addressName: '',
      activeName: 'address',
      data: [
        {
          label: '北京市',
          children: [
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            },
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            },
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            },
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            },
            {
              label: ' 海淀区',
              children: [
                {
                  label: '翠微北里香翠清',
                  children: [
                    {
                      label: '翠清酒家树1组'
                    },
                    {
                      label: '翠清酒家树2组'
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          label: '天津市',
          children: [
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            },
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            },
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            },
            {
              label: '门头沟区',
              children: [
                {
                  label: '翠清酒家树1组'
                },
                {
                  label: '翠清酒家树2组'
                }
              ]
            }
          ]
        },
        {
          label: '四川省',
          children: [
            {
              label: '成都市'
            }
          ]
        }
      ],
      addressTypeData: [
        {
          value: '省',
          label: '省'
        }, {
          value: '市',
          label: '市'
        }, {
          value: '区',
          label: '区'
        }, {
          value: '县',
          label: '县'
        }
      ],
      addressStateData: [
        {
          value: '1',
          label: '可用'
        }, {
          value: '2',
          label: '不可用'
        }
      ],
      addressIsOpen: true,
      defaultProps: {
        children: 'children',
        label: 'label'
      },
      formInline: {
        parentAddressName: '市割区',
        parentAddressCode: '1101',
        addressName: '天河区',
        addressCode: '5001',
        longitude: '',
        dimension: '',
        addressType: '',
        addressState: '',
        note: ''
      },
      rules: {
        parentAddressName: [
          { required: true, message: '请输入父地址编码', trigger: 'blur' }
        ],
        parentAddressCode: [
          { required: true, message: '请输入父地址名称', trigger: 'blur' }
        ],
        addressName: [
          { required: true, message: '请输入地址名称', trigger: 'blur' }
        ],
        addressCode: [
          { required: true, message: '请输入地址编码', trigger: 'blur' }
        ],
        addressType: [
          { required: true, message: '请选择地址类别', trigger: 'change' }
        ],
        addressState: [
          { required: true, message: '请选择地址状态', trigger: 'change' }
        ]
      }
    }
  },
  methods: {
    handleNodeClick(data) {
      console.log(data)
    },
    // 折叠面板是否被打开，切换全国地址图标
    addressChange(activeNames) {
      console.log(activeNames)
      this.addressIsOpen = !!activeNames
    },
    submitForm(formName, flag) {
      if (flag === 'delete') {
        console.log('删除')
      }
      this.$refs[formName].validate((valid) => {
        if (valid) {
          if (flag === 'add') {
            console.log('增加字节点')
          } else if (flag === 'edit') {
            console.log('修改')
          }
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>
<style lang="scss">
.address-manage {
  .el-form-item {
    margin-right: 75px;
  }
  .el-input__inner {
    border: 1px solid #cacaca;
    border-radius: 2px;
  }
  .el-form-item__label {
    display: block;
    text-align: left;
    float: none;
    line-height: 15px;
    margin-bottom: 6px;
  }
  .el-tree /deep/ .el-tree-node__expand-icon.expanded {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  //有子节点 且未展开
  .el-tree /deep/ .el-icon-caret-right:before
  {
    background: url("../../../assets/images/address_manage_open_icon.png") no-repeat center center;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    font-size: 15px;
    background-size: 15px;
  }
  //有子节点 且已展开
  .el-tree /deep/ .el-tree-node__expand-icon.expanded.el-icon-caret-right:before
  {
    background: url("../../../assets/images/address_manage_close_icon.png") no-repeat center center;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    font-size: 15px;
    background-size: 15px;
  }
  //没有子节点
  .el-tree /deep/.el-tree-node__expand-icon.is-leaf::before
  {
    background: none;
    content: '';
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
    background-size: 0;
  }
  .el-icon-arrow-right:before {
    content: "";
  }
  .el-collapse-item__wrap {
    border-bottom: none;
  }
  .el-collapse-item__header.is-active {
    border-bottom-color: #e8e8e8;
  }
  .el-collapse-item__header {
    border-bottom: 1px solid #e8e8e8;
    height: 38px;
  }
  .collapse-title {
    display: flex;
    align-items: center;
    .title-text {
      width: 30px;
      height: 15px;
      line-height: 15px;
      font-size: 11px;
      display: inline-block;
      margin-left: 23px;
      font-weight: 400;
      color: #000000;
    }
    .title-icon {
      width: 15px;
      height: 15px;
      margin-left: 213px;
      display: inline-block;
    }
  }
}
</style>
<style scoped lang="scss">
</style>
