.home-page {
  background: #F5F5F5;
  font-family: PingFang SC, PingFang SC-Bold;
  box-sizing: border-box;
  padding-bottom: 18px;

  .page-header {
    display: flex;
    align-items: center;

    .header-left {
      width: 604px;
      height: 293px;
      background: #FFFFFF;
      display: inline-block;
    }

    .header-right {
      width: 604px;
      height: 293px;
      display: inline-block;
      margin-left: 8px;
      background: #FFFFFF;

      .right-content {
        width: 100%;
        height: 245px;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        p {
          width: 544px;
          height: 45px;
          //background-color: #004a8b;
          border-bottom: 1px solid #E8E8E8;
          font-size: 11px;
          font-family: PingFangSC-Regular;
          text-align: left;
          color: #333333;
          display: flex;
          align-items: center;
        }

        .public-item {
          position: relative;
          cursor: pointer;

          i:nth-child(1) {
            width: 13px;
            height: 12px;
            margin-right: 12px;
            display: inline-block;
            background: url("../../../assets/images/public_icon.png") center center no-repeat;
            background-size: 13px 12px;
          }

          .public-icon {
            width: 5px;
            height: 11px;
            font-size: 11px;
            margin-left: 12px;
            position: absolute;
            right: 5px;
          }
        }

        p:nth-child(1) {
          margin-top: 23px;
        }
      }
    }

    .header-title {
      width: 100%;
      height: 48px;
      line-height: 48px;
      border-bottom: 1px solid #E8E8E8;

      .title-text {
        display: inline-block;
        margin-left: 23px;
        font-size: 12px;
        font-family: PingFang SC, PingFang SC-Bold;
        font-weight: 700;
        text-align: left;
        color: #333333;
      }

      .title-option {
        min-width: 70px;
        height: 48px;
        padding: 0 23px;
        text-align: center;
        line-height: 48px;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        color: #333333;
        cursor: pointer;
      }

      .is-choose {
        box-sizing: border-box;
        border-top: 3px solid #BD0110;
        background: linear-gradient(180deg, rgba(189, 1, 16, 0.2), rgba(189, 1, 16, 0));
        color: #bd0110;
      }
    }

    .header-content {
      width: 100%;
      height: 245px;
      display: flex;
      flex-wrap: wrap;
      color: #ffffff;
      //justify-content: center;
      //align-items: center;
      align-content: center;
      .content-item:nth-child(1) {
        background: url("../../../assets/images/home_page_appointment.png") center center no-repeat;
        background-size: 248px 81px;
      }

      .content-item:nth-child(1) i {
        width: 44px;
        height: 44px;
        display: inline-block;
        margin-left: 23px;
        background: url("../../../assets/images/home_page_appointment_icon.png") center center no-repeat;
        background-size: 44px 44px;
      }

      .content-item:nth-child(2) {
        background: url("../../../assets/images/home_page_not.png") center center no-repeat;
        background-size: 248px 81px;
      }

      .content-item:nth-child(2) i {
        width: 44px;
        height: 44px;
        display: inline-block;
        margin-left: 23px;
        background: url("../../../assets/images/home_page_not_icon.png") center center no-repeat;
        background-size: 44px 44px;
      }

      .content-item:nth-child(3) {
        background: url("../../../assets/images/home_page_open.png") center center no-repeat;
        background-size: 248px 81px;
      }

      .content-item:nth-child(3) i {
        width: 44px;
        height: 44px;
        display: inline-block;
        margin-left: 23px;
        background: url("../../../assets/images/home_page_open_icon.png") center center no-repeat;
        background-size: 44px 44px;
      }

      .content-item:nth-child(4) {
        background: url("../../../assets/images/home_page_overtime.png") center center no-repeat;
        background-size: 248px 81px;
      }

      .content-item:nth-child(4) i {
        width: 44px;
        height: 44px;
        display: inline-block;
        margin-left: 23px;
        background: url("../../../assets/images/home_page_overtime_icon.png") center center no-repeat;
        background-size: 44px 44px;
      }

      .content-item {
        width: 248px;
        height: 81px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        background: red;
        cursor: pointer;
      }

      .content-item div {
        height: 53px;
        margin-left: 22px;
      }
    }
  }

  .page-content {
    display: flex;
    align-items: center;
    margin-top: 8px;

    .content-left {
      width: 604px;
      height: 293px;
      background: #FFFFFF;
      display: inline-block;
    }

    .content-right {
      width: 604px;
      height: 293px;
      display: inline-block;
      margin-left: 8px;
      background: #FFFFFF;
    }

    .content-title {
      width: 100%;
      height: 48px;
      line-height: 48px;
      border-bottom: 1px solid #E8E8E8;
      position: relative;

      .title-text {
        display: inline-block;
        margin-left: 23px;
        font-size: 12px;
        font-family: PingFang SC, PingFang SC-Bold;
        font-weight: 700;
        text-align: left;
        color: #333333;
      }

      .title-option {
        display: inline-block;
        margin-left: 352px;

        .title-option-label {
          display: inline-block;
          font-size: 11px;
          color: #333333;
          margin-right: 11px;
        }
      }
    }

    .content-content {
      width: 100%;
      height: 245px;
      display: flex;
      flex-wrap: wrap;
      color: #ffffff;
      //justify-content: center;
      //align-items: center;
      align-content: center;

      .content-item:nth-child(1) i {
        width: 90px;
        height: 56px;
        display: inline-block;
        background: url("../../../assets/images/home_page_commodity_icon.png") center center no-repeat;
        background-size: 90px 56px;
      }

      .content-item:nth-child(2) i {
        width: 90px;
        height: 56px;
        display: inline-block;
        background: url("../../../assets/images/home_page_commodity_icon.png") center center no-repeat;
        background-size: 90px 56px;
      }

      .content-item:nth-child(3) i {
        width: 90px;
        height: 56px;
        display: inline-block;
        background: url("../../../assets/images/home_page_commodity_icon.png") center center no-repeat;
        background-size: 90px 56px;
      }

      .content-item:nth-child(4) i {
        width: 90px;
        height: 56px;
        display: inline-block;
        background: url("../../../assets/images/home_page_commodity_icon.png") center center no-repeat;
        background-size: 90px 56px;
      }

      .content-item:nth-child(5) i {
        width: 90px;
        height: 56px;
        display: inline-block;
        background: url("../../../assets/images/home_page_commodity_icon.png") center center no-repeat;
        background-size: 90px 56px;
      }

      .content-item:nth-child(6) i {
        width: 90px;
        height: 56px;
        display: inline-block;
        background: url("../../../assets/images/home_page_commodity_icon.png") center center no-repeat;
        background-size: 90px 56px;
      }

      .content-item {
        width: 248px;
        height: 56px;
        display: flex;
        align-items: center;
        margin-left: 30px;
        cursor: pointer;
      }

      .content-item div {
        height: 53px;
        margin-left: 22px;
      }
    }
  }
}
