.member-ship {
  .table-header {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
  }

  .table-text {
    font-size: 11px;
    color: #333333;
  }

  .el-table thead th {
    background: #fafafa;
  }
}
.marketing-activity {
  .table-header {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
  }

  .table-text {
    font-size: 11px;
    color: #333333;
  }

  .el-table thead th {
    background: #fafafa;
  }
}
.integration-business {
  background: #F5F5F5;
  font-family: PingFang SC, PingFang SC-Bold;
  box-sizing: border-box;
  padding-bottom: 18px;
  width: 100%;
  .page-header {
    width: 1215px;
    height: 173px;
    background: #FFFFFF;
    .header-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 173px;
      .header-content-page {
        width: 1155px;
        height: 128px;
        background: url("../../../assets/images/customer_page_header_bg.png") center center no-repeat;
        background-size: 1155px 128px;
        position: relative;
        .header-item {}
        .header-item:nth-child(1) {
          width: 90px;
          height: 100%;
          margin-left: 50px;
          padding-top: 21px;
          text-align: center;
          span {
            display: inline-block;
            margin-top: 4px;
            font-size: 15px;
            color: #ffffff;
          }
        }
        .header-item:nth-child(n + 2) {
          height: 100%;
          padding-top: 22px;
          position: absolute;
          top: 0;
          font-size: 12px;
          text-align: left;
          color: #ffffff;
          line-height: 26px;
        }
        .header-item:nth-child(2) {
          min-width: 262px;
          left: 200px;
        }
        .header-item:nth-child(3) {
          min-width: 137px;
          left: 596px;
        }
        .header-item:nth-child(4) {
          min-width: 212px;
          left: 868px;
          p {
            height: 26px;
            display: flex;
            align-items: center;
            i {
              width: 18px;
              height: 18px;
              display: inline-block;
              margin-right: 6px;
              background: url("../../../assets/images/customer_page_star_icon.png") center center no-repeat;
              background-size: 18px 18px;
            }
            .is-stared {
              background: url("../../../assets/images/customer_page_stared_icon.png") center center no-repeat;
              background-size: 18px 18px;
            }
          }
        }
      }
    }
  }
  .page-content {
    width: 1215px;
    height: 1194px;
    margin-top: 8px;
    display: inline-block;
    background: #ffffff;

    .content-title {
      display: flex;
      width: 100%;
      height: 14px;
      margin-top: 30px;
      font-size: 12px;
      font-weight: 700;
      margin-left: 14px;
      color: #333333;

      .vertical-line {
        width: 3px;
        height: 14px;
        margin-right: 14px;
        display: inline-block;
        background: #bd0110;
      }

      .title-text {
        display: inline-block;
      }
    }

    .fuse-content {
      width: 100%;
      display: flex;
      padding-left: 30px;
      margin-top: 15px;

      .fuse-button {
        min-width: 143px;
        height: 48px;
        line-height: 48px;
        cursor: pointer;
        text-align: center;
        margin-right: 15px;
        display: inline-block;
        background: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 700;
        color: #333333;
      }

      .is-choose {
        background: #bd0110;
        border-radius: 6px;
        color: #ffffff;
        position: relative;
      }

      .is-choose:after {
        position: absolute;
        right: 1px;
        top: 18px;
        width: 26px;
        height: 26px;
        content: '';
        z-index: 2;
        background: url("../../../assets/images/integration_business_choose_icon.png") center center no-repeat;
        background-size: 26px 26px;
      }
    }

    .tariff-selection {
      width: 100%;
      display: flex;
      margin-left: 30px;
      margin-top: 15px;

      .tariff-button {
        min-width: 210px;
        height: 48px;
        line-height: 48px;
        cursor: pointer;
        text-align: center;
        margin-right: 15px;
        display: inline-block;
        background: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 6px;
        font-size: 12px;
        font-weight: 700;
        color: #333333;
      }

      .is-choose {
        background: #bd0110;
        border-radius: 6px;
        color: #ffffff;
        position: relative;
      }

      .is-choose:after {
        position: absolute;
        right: 1px;
        top: 18px;
        width: 26px;
        height: 26px;
        content: '';
        z-index: 2;
        background: url("../../../assets/images/integration_business_choose_icon.png") center center no-repeat;
        background-size: 26px 26px;
      }
    }

    .member-ship {
      width: 100%;
      padding: 15px 30px 30px 30px;
      border-bottom: 1px solid #e8e8e8;
    }

    .marketing-activity {
      width: 100%;
      display: inline-block;
      padding: 30px 30px 0 30px;
    }
    .form-submit {
      margin-top: 30px;
      .default-button {
        width: 116px;
        height: 33px;
        display: inline-block;
        border-radius: 2px;
        font-size: 12px;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
      }
      .reset {
        background: #ffffff;
        border: 1px solid #cccccc;
        color: #333333;
        margin-left: 30px;
      }
      .submit {
        background: #bd0110;
        color: #ffffff;
        margin-left: 23px;
      }
    }
  }
  .fixed-page {
    position: fixed;
    box-sizing: border-box;
    top: calc(50vh - 158px);
    z-index: 100;
    right: 0;
    width: 75px;
    height: 315px;
    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.06);
    .fixed-item {
      width: 100%;
      height: 80px;
      background: #ffffff;
      border-bottom: 1px solid #e8e8e8;
      text-align: center;
      color: #333333;
      cursor: pointer;
      .item-icon {
        margin-top: 15px;
        display: inline-block;
      }
      .item-text {
        text-align: center;
        width: 100%;
        margin-top: 6px;
        font-size: 11px;
        line-height: 15px;
      }
      .product-icon {
        width: 24px;
        height: 27px;
        background: url("../../../assets/images/integration_business_product_icon.png") center center no-repeat;
        background-size: 24px 27px;
      }
      .product-icon-choose {
        background: url("../../../assets/images/integration_business_product_choose_icon.png") center center no-repeat;
        background-size: 24px 27px;
      }
      .member-icon {
        width: 25px;
        height: 30px;
        background: url("../../../assets/images/integration_business_member_icon.png") center center no-repeat;
        background-size: 25px 30px;
      }
      .member-icon-choose {
        background: url("../../../assets/images/integration_business_member_choose_icon.png") center center no-repeat;
        background-size: 25px 30px;
      }
      .market-icon {
        width: 27px;
        height: 27px;
        background: url("../../../assets/images/integration_business_market_icon.png") center center no-repeat;
        background-size: 27px 27px;
      }
      .market-icon-choose {
        background: url("../../../assets/images/integration_business_market_choose_icon.png") center center no-repeat;
        background-size: 27px 27px;
      }
      .complete-icon {
        width: 29px;
        height: 29px;
        background: url("../../../assets/images/integration_business_complete_icon.png") center center no-repeat;
        background-size: 29px 29px;
      }
      .complete-icon-choose {
        background: url("../../../assets/images/integration_business_complete_choose_icon.png") center center no-repeat;
        background-size: 29px 29px;
      }
    }
    .is-choose {
      background: #bd0110;
      color: #ffffff;;
    }
  }
}
