.manager-change-review {
  position: relative;
  background: #F5F5F5;
  font-family: PingFang SC, PingFang SC-Bold;
  box-sizing: border-box;
  padding-top: 56px;
  width: 100%;
  .tag-view {
    position: absolute;
    left: 0;
    top: 0;
  }
  .page-container {
    width: 100%;
    height: calc(100vh - 216px);
    overflow-x:hidden;
    word-break:break-all;
    overflow-y: auto;
    background: #F5F5F5;
    padding-bottom: 18px;
  }
  .page-header {
    width: 1215px;
    height: 152px;
    padding-top: 30px;
    background: #ffffff;
    .submit-button {
      width: 60px;
      height: 27px;
      margin-left: 45px;
      background: #bd0110;
      border-radius: 2px;
      cursor: pointer;
      font-size: 11px;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      line-height: 27px;
    }
  }
  .page-content {
    width: 1215px;
    min-height: 330px;
    background: #ffffff;
    padding: 38px 30px 0 30px;
  }
}

