.account-manage-change {
  background: #F5F5F5;
  font-family: PingFang SC, PingFang SC-Bold;
  box-sizing: border-box;
  padding-bottom: 18px;

  .page-header {
    width: 1215px;
    height: 113px;
    display: inline-block;
    background: #ffffff;
    .header-label {
      margin-left: 45px;
      margin-top: 30px;
      font-size: 11px;
      line-height: 15px;
      font-weight: 400;
      color: #000000;
    }
    .header-input {
      margin-left: 45px;
      margin-top: 8px;
    }
  }

  .page-content {
    width: 1215px;
    min-height: 221px;
    margin-top: 8px;
    padding-bottom: 38px;
    background: #ffffff;
    display: inline-block;
    .content-title {
      margin-top: 16px;
      margin-left: 23px;
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
      color: #333333;
    }
    .content-body {
      margin-top: 16px;
      margin-left: 30px;
      margin-right: 45px;
    }
  }

  .page-footer {
    width: 1215px;
    height: 473px;
    margin-top: 8px;
    background: #ffffff;
    display: inline-block;
    .footer-title {
      margin-top: 16px;
      margin-left: 23px;
      margin-bottom: 7px;
      width: 100%;
      display: inline-block;
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
      color: #333333;
    }
    .form-item {
      margin-top: 23px;
      margin-left: 30px;
      color: #333333;
      font-weight: 400;
      font-size: 11px;
      .form-input {
        width: 270px;
        height: 27px;
        margin-top: 8px;
        padding-left: 12px;
        display: inline-block;
        background: #ffffff;
        border: 1px solid #cacaca;
        border-radius: 2px;
        line-height: 27px;
      }
      .form-input-value {
        margin-left: 15px;
        color: #004A8B;
      }
    }
    .form-submit {
      margin-top: 30px;
      .default-button {
        width: 116px;
        height: 33px;
        display: inline-block;
        border-radius: 2px;
        font-size: 12px;
        text-align: center;
        line-height: 33px;
        cursor: pointer;
      }
      .reset {
        background: #ffffff;
        border: 1px solid #cccccc;
        color: #333333;
        margin-left: 30px;
      }
      .submit {
        background: #bd0110;
        color: #ffffff;
        margin-left: 23px;
      }
    }
  }
}
