.customer-page {
  background: #F5F5F5;
  font-family: PingFang SC, PingFang SC-Bold;
  box-sizing: border-box;
  padding-bottom: 18px;
  .content-title {
    width: 100%;
    height: 48px;
    padding-left: 23px;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
    line-height: 48px;
    border-bottom: 1px solid #E8E8E8;
    p {
      display: inline-block;
    }
    p:nth-child(2) {
      margin-left: 857px;
    }
    p:nth-child(3) {
      margin-left: 50px;
    }
  }
  .page-header {
    width: 1215px;
    height: 248px;
    background: #FFFFFF;
    .header-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      .header-content-page {
        width: 1155px;
        height: 150px;
        background: url("../../../assets/images/customer_page_header_bg.png") center center no-repeat;
        background-size: 1155px 150px;
        position: relative;
        .header-item {}
        .header-item:nth-child(1) {
          width: 90px;
          height: 100%;
          margin-left: 50px;
          padding-top: 21px;
          text-align: center;
          span {
            display: inline-block;
            margin-top: 4px;
            font-size: 15px;
            color: #ffffff;
          }
        }
        .header-item:nth-child(n + 2) {
          height: 100%;
          padding-top: 22px;
          position: absolute;
          top: 0;
          font-size: 12px;
          text-align: left;
          color: #ffffff;
          line-height: 26px;
        }
        .header-item:nth-child(2) {
          min-width: 262px;
          left: 200px;
        }
        .header-item:nth-child(3) {
          min-width: 137px;
          left: 596px;
        }
        .header-item:nth-child(4) {
          min-width: 212px;
          left: 868px;
          p {
            height: 26px;
            display: flex;
            align-items: center;
            i {
              width: 18px;
              height: 18px;
              display: inline-block;
              margin-right: 6px;
              background: url("../../../assets/images/customer_page_star_icon.png") center center no-repeat;
              background-size: 18px 18px;
            }
            .is-stared {
              background: url("../../../assets/images/customer_page_stared_icon.png") center center no-repeat;
              background-size: 18px 18px;
            }
          }
        }
      }
    }
  }

  .page-content {
    width: 1215px;
    height: 195px;
    margin-top: 8px;
    background: #FFFFFF;
    .content-body {
      width: 100%;
      height: 147px;
      display: flex;
      align-items: center;
      div:nth-child(n) {
        height: 98px;
        border: 1px solid #e8e8e8;
        border-radius: 6px;
      }
      div:nth-child(1){
        display: flex;
        align-items: center;
        width: 345px;
        margin-left: 30px;
        background: url("../../../assets/images/customer_page_content_account_bg.png") center center no-repeat;
        background-size: 345px 98px;
        display: flex;
        align-items: center;
        //border: none;
        div {
          width: 114px;
          height: 50px;
          margin: 0;
          border: none;
          border-radius: 0;
          display: inline-block;
          text-align: center;
          font-size: 11px;
          color: #ffffff;
          .num-important {
            font-size: 18px;
            font-weight: 700;
          }
        }
        div:nth-child(n + 2) {
          border-left: 1px solid #e8e8e8;
        }
      }
      div:nth-child(2){
        width: 165px;
        margin-left: 12px;
        position: relative;
        .product-icon {
          display: inline-block;
          border: none;
          border-radius: 0;
          width: 42px;
          height: 38px;
          position: absolute;
          margin: 0;
          left: 23px;
          top: 24px;
          background: url("../../../assets/images/customer_page_content_television_icon.png") center center no-repeat;
          background-size: 42px 38px;
        }
        .product-describe {
          display: inline-block;
          border: none;
          min-width: 48px;
          height: 50px;
          position: absolute;
          top: 24px;
          left: 80px;
          .product-name {
            font-size: 11px;
            font-weight: 400;
            color: #999999;
          }
          .product-num {
            display: inline-block;
            margin-top: 9px;
            font-size: 18px;
            font-weight: 700;
            color: #333333;
          }
        }
      }
      div:nth-child(3){
        width: 165px;
        margin-left: 12px;
        position: relative;
        .product-icon {
          display: inline-block;
          border: none;
          border-radius: 0;
          width: 30px;
          height: 42px;
          position: absolute;
          top: 24px;
          margin: 0;
          left: 29px;
          background: url("../../../assets/images/customer_page_content_phone_icon.png") center center no-repeat;
          background-size: 30px 42px;
        }
        .product-describe {
          display: inline-block;
          border: none;
          min-width: 48px;
          height: 50px;
          position: absolute;
          top: 24px;
          left: 80px;
          .product-name {
            font-size: 11px;
            font-weight: 400;
            color: #999999;
          }
          .product-num {
            display: inline-block;
            margin-top: 9px;
            font-size: 18px;
            font-weight: 700;
            color: #333333;
          }
        }
      }
      div:nth-child(4){
        width: 165px;
        margin-left: 12px;
        position: relative;
        .product-icon {
          display: inline-block;
          border: none;
          border-radius: 0;
          width: 46px;
          height: 38px;
          position: absolute;
          top: 24px;
          margin: 0;
          left: 20px;
          background: url("../../../assets/images/customer_page_content_broadband_icon.png") center center no-repeat;
          background-size: 46px 38px;
        }
        .product-describe {
          display: inline-block;
          border: none;
          min-width: 48px;
          height: 50px;
          position: absolute;
          top: 24px;
          left: 80px;
          .product-name {
            font-size: 11px;
            font-weight: 400;
            color: #999999;
          }
          .product-num {
            display: inline-block;
            margin-top: 9px;
            font-size: 18px;
            font-weight: 700;
            color: #333333;
          }
        }
      }
      div:nth-child(5){
        width: 165px;
        margin-left: 12px;
        position: relative;
        .product-icon {
          display: inline-block;
          border: none;
          border-radius: 0;
          width: 41px;
          height: 39px;
          position: absolute;
          top: 24px;
          margin: 0;
          left: 22px;
          background: url("../../../assets/images/customer_page_content_simulation_icon.png") center center no-repeat;
          background-size: 41px 39px;
        }
        .product-describe {
          display: inline-block;
          border: none;
          min-width: 48px;
          height: 50px;
          position: absolute;
          top: 24px;
          left: 80px;
          .product-name {
            font-size: 11px;
            font-weight: 400;
            color: #999999;
          }
          .product-num {
            display: inline-block;
            margin-top: 9px;
            font-size: 18px;
            font-weight: 700;
            color: #333333;
          }
        }
      }
      div:nth-child(6){
        width: 90px;
        margin-left: 12px;
        background: #4ccbf6;
        border-radius: 6px;
        text-align: center;
        line-height: 98px;
        font-size: 15px;
        font-weight: 400;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  .page-footer {
    width: 1215px;
    height: 225px;
    margin-top: 8px;
    background: #FFFFFF;
    .footer-content {
      width: 100%;
      height: 177px;
    }
  }
}
