.address-manage {
  background: #F5F5F5;
  font-family: PingFang SC, PingFang SC-Bold;
  box-sizing: border-box;
  padding-bottom: 18px;
  width: 100%;
  display: flex;
  .page-left {
    min-height: 603px;
    width: 300px;
    display: inline-block;
    background: #ffffff;
    margin-right: 8px;
    .search-item {
      width: 100%;
      height: 57px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .address-title {
      width: 100%;
      height: 38px;
      border-bottom: 1px solid #e8e8e8;
      display: flex;
      align-items: center;
      .title-text {
        font-size: 11px;
        display: inline-block;
        margin-left: 23px;
        font-weight: 400;
        color: #000000;
      }
      .title-icon {
        width: 15px;
        height: 15px;
        margin-left: 219px;
        display: inline-block;
      }
    }
    .address-content {
      width: 100%;
      padding-left: 18px;
      padding-top: 10px;
      height: auto;
    }
    .open-icon {
      background: url("../../../assets/images/address_manage_open_icon.png") center center no-repeat;
      background-size: 15px 15px;
    }
    .close-icon {
      background: url("../../../assets/images/address_manage_close_icon.png") center center no-repeat;
      background-size: 15px 15px;
    }
  }
  .page-right {
    width: 908px;
    display: inline-block;
    background: #ffffff;
    .action-bar {
      width: 100%;
      height: 48px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;
      .action-title {
        display: inline-block;
        font-size: 11px;
        font-weight: 400;
        text-align: left;
        color: #333333;
        margin-left: 30px;
        margin-right: 460px;
      }
      .action-item {
        width: 105px;
        height: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        background: #ffffff;
        border: 1px solid #cacaca;
        border-radius: 2px;
        font-size: 11px;
        font-weight: 400;
        color: #333333;
        cursor: pointer;
        .icon-item {
          width: 11px;
          height: 11px;
          display: inline-block;
          margin-right: 8px;
        }
        .action-text {
          display: inline-block;
          height: 15px;
          line-height: 15px;
        }
        .add-address-icon {
          background: url("../../../assets/images/address_manage_add_address_icon.png") center center no-repeat;
          background-size: 100%;
        }
        .edit-address-icon {
          background: url("../../../assets/images/address_manage_edit_address_icon.png") center center no-repeat;
          background-size: 100%;
        }
        .del-address-icon {
          background: url("../../../assets/images/address_manage_del_address_icon.png") center center no-repeat;
          background-size: 100%;
        }
      }
    }
    .form-content {
      width: 100%;
      padding-left: 30px;
      padding-top: 30px;
      padding-right: 150px;
    }
  }
  .page-title {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding-left: 23px;
    border-bottom: 1px solid #e8e8e8;
    font-size: 12px;
    font-weight: 700;
    color: #333333;
  }
}
