<template>
  <div class="header-container">
    <div class="header-logo"></div>
    <div class="header-title">广电5G业务支撑系统</div>
    <div class="header-content">
      <el-select style="width: 100px;" v-model="select" placeholder="" class="select-input">
        <el-option label="客户名称" value="1"></el-option>
        <el-option label="客户编码" value="2"></el-option>
      </el-select>
      <el-input placeholder="请输入需要查询的信息" v-model="input1" suffix-icon="el-icon-search" style="width: 230px"
                class="text-input">
      </el-input>
    </div>
    <div class="header-search">
      <el-input placeholder="请输入功能代码" v-model="input2" suffix-icon="el-icon-search">
      </el-input>
    </div>
    <div class="header-user">
      <i class="user-icon"></i>
    </div>
    <div class="user-name">
      张**，系统管理员
    </div>
    <div class="message-content">
      <el-badge :value="12" class="item">
        <i class="message-icon"></i>
      </el-badge>
    </div>
    <div class="header-more">
      <el-popover
        placement="bottom"
        width="255"
        popper-class="more-popover"
        :visible-arrow="false"
        trigger="click">
        <i slot="reference" class="more-icon"></i>
        <div class="popover-item">
          <i class="set-icon icon-share"></i>
          <span class="content-text">设置</span>
          <i class="arrow-icon el-icon-arrow-right"></i>
        </div>
        <div style="margin-bottom: 25px;" class="popover-item">
          <i class="back-icon icon-share"></i>
          <span class="content-text">退出</span>
          <i class="arrow-icon el-icon-arrow-right"></i>
        </div>
      </el-popover>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  data() {
    return {
      input1: '',
      select: '1',
      input2: ''
    }
  }
}
</script>
<style lang="scss">
.more-popover {
  top: 93px !important;
  left: 1170px !important;
  .popover-item {
    width: 255px;
    height: 47px;
    border-bottom: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .icon-share {
    width: 12px;
    height: 12px;
    margin-left: 15px;
    display: inline-block;
  }
  .set-icon {
    background: url("../../../assets/images/set_icon.png") center center no-repeat;
    background-size: 12px 12px;
  }
  .back-icon {
    background: url("../../../assets/images/back_icon.png") center center no-repeat;
    background-size: 12px 12px;
  }
  .content-text {
    width: auto;
    height: 12px;
    margin-left: 9px;
    display: inline-block;
    font-size: 11px;
    line-height: 12px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    color: #333333;
  }
  .arrow-icon {
    font-size: 12px;
    margin-left: 170px;
  }
}

.header-container {
  .el-input__inner {
    font-size: 12px;
    //line-height: 33px;
    height: 33px;
  }

  .select-input .el-input__inner {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  .text-input .el-input__inner {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .el-input-group--append .el-input__inner, .el-input-group__prepend {
    border-top: 0;
    border-bottom: 0;
  }

  .el-input__inner::placeholder {
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    color: #333333;
  }

  .el-input__icon {
    line-height: 34px;
  }
}
</style>
<style scoped lang="scss">
.header-container {
  width: 1440px;
  height: 96px;
  display: flex;
  align-items: center;
  background: #004a8b;
  box-shadow: 0 3px 16px 0 rgba(76, 118, 246, 0.33);

  .header-logo {
    width: 101px;
    height: 45px;
    margin-left: 26px;
    background: url("../../../assets/images/header_logo.png") 0px -4px no-repeat;
    background-size: 101px 45px;
  }

  .header-title {
    width: 260px;
    height: 38px;
    margin-left: 40px;
    font-size: 27px;
    font-family: PingFang SC, PingFang SC-Bold;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
  }

  .header-content {
    width: 330px;
    height: 33px;
    margin-left: 250px;
    border-radius: 3px;
  }

  .header-search {
    width: 150px;
    height: 33px;
    margin-left: 8px;
  }

  .header-user {
    width: 23px;
    height: 23px;
    margin-left: 23px;

    .user-icon {
      width: 100%;
      height: 100%;
      display: inline-block;
      background: url("../../../assets/images/user_icon.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }

  .user-name {
    min-width: 83px;
    height: 15px;
    margin-left: 8px;
    font-size: 11px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 15px;
  }

  .message-content {
    width: 24px;
    height: 21px;
    margin-left: 22px;

    .item {
      .message-icon {
        width: 24px;
        height: 21px;
        display: inline-block;
        cursor: pointer;
        background: url("../../../assets/images/message_icon.png") center center no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  .header-more {
    width: 25px;
    height: 25px;
    margin-left: 35px;

    .more-icon {
      width: 25px;
      height: 25px;
      display: inline-block;
      cursor: pointer;
      background: url("../../../assets/images/more_icon.png") center center no-repeat;
      background-size: 100% 100%;
    }
  }
}
</style>
