<template>
  <div class="account-manage-change">
    <div class="page-header">
      <p class="header-label">客户经理</p>
      <div class="header-input">
        <el-input size="mini" v-model="input1" style="width: 225px;height: 27px;margin-right: 15px;" placeholder="请输入内容"></el-input>
        <el-button size="mini" class="button-reset">查询</el-button>
      </div>
    </div>
    <div class="page-content">
      <p class="content-title">客户经理信息查询</p>
      <div class="content-body">
        <el-table
          :data="tableData"
          border
          :header-row-class-name="setRowClass"
          :row-class-name="setRowClass"
          :cell-class-name="setLabelStyle"
          :header-cell-class-name="setLabelStyle"
          style="width: 100%">
          <el-table-column
            prop="label1"
            label="客户经理"
            min-width="180">
          </el-table-column>
          <el-table-column
            :label="columnData.managerName"
            min-width="180">
            <template slot-scope="scope">
              <p>
                <span>{{ scope.row.value1 }}</span>
                <span style="display:inline-block; color: #004a8b;cursor: pointer;margin-left: 8px;" @click="customerListClick(scope.row)">客户清单></span>
              </p>
            </template>
          </el-table-column>
          <el-table-column
            prop="label2"
            label="所属销售组"
            min-width="180">
          </el-table-column>
          <el-table-column
            prop="value2"
            :label="columnData.salesTeam"
            min-width="180">
          </el-table-column>
          <el-table-column
            prop="label3"
            label=""
            min-width="180">
          </el-table-column>
          <el-table-column
            prop="value3"
            label=""
            min-width="180">
          </el-table-column>
        </el-table>
      </div>
    </div>
    <div class="page-footer">
      <p class="footer-title">流程审批确认</p>
      <div class="form-item">
        <p class="form-label">原客户经理</p>
        <p class="form-input form-input-name">智慧金融二组</p>
        <p class="form-input form-input-value">songchao-宋超</p>
      </div>
      <div class="form-item">
        <p class="form-label">新客户经理</p>
        <p class="form-input form-input-name">智慧政务组</p>
        <p class="form-input form-input-value">zhangsan-张三</p>
      </div>
      <div class="form-item">
        <p class="form-label">审核信息</p>
        <el-input
          type="textarea"
          style="width: 555px; margin-top: 8px;"
          :autosize="{ minRows: 2, maxRows: 4}"
          placeholder=""
          v-model="auditInformation">
        </el-input>
      </div>
      <div class="form-item">
        <p class="form-label">操作备注</p>
        <el-input
          type="textarea"
          style="width: 555px; margin-top: 8px;"
          :autosize="{ minRows: 2, maxRows: 4}"
          placeholder=""
          v-model="operationNotes">
        </el-input>
      </div>
      <div class="form-submit">
        <p class="default-button reset" @click="formReset">重置</p>
        <p class="default-button submit" @click="submit">提交</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
      auditInformation: '',
      operationNotes: '',
      input1: '',
      tableData: [{
        label1: '管理客户数',
        label2: '管理合同信息',
        label3: '管理用户信息',
        value1: '350户',
        value2: '100个',
        value3: '500户'
      },
      {
        label1: '变更客户数',
        label2: '变更合同信息',
        label3: '变更用户信息',
        value1: '350户',
        value2: '100个',
        value3: '500户'
      }],
      columnData: {
        managerName: 'songchao-宋超',
        salesTeam: '智慧金融二组'
      }
    }
  },
  methods: {
    /**
     * 表格中客户清单点击事件
     * @param rowData 当前行数据
     */
    customerListClick(rowData) {
      console.log(rowData)
    },
    // 设置表格行样式
    setRowClass({
      row,
      rowIndex
    }) {
      return 'table-text'
    },
    // 设置表格列样式
    setLabelStyle({
      row, column, rowIndex, columnIndex
    }) {
      if (columnIndex % 2 === 0) {
        return 'label-style'
      }
    },
    // 重置
    formReset() {
      this.auditInformation = ''
      this.operationNotes = ''
    },
    // 提交
    submit() {
      console.log('submit')
    }
  }
}
</script>
<style lang="scss">
.account-manage-change {
  //collapse
  .el-table__body, .el-table__footer, .el-table__header {
    border-collapse: collapse;
  }
  .table-text {
    font-size: 11px;
    color: #333333;
  }
  .label-style {
    background: #fafafa;
  }
  th {
    font-weight: 400;
  }
  .el-input__inner {
    border: 1px solid #cacaca;
    border-radius: 2px;
  }
  .button-reset {
    background: #bd0110;
    border-radius: 2px;
    color: #ffffff;
    border-color: #bd0110;
  }
}
</style>
<style scoped lang="scss">
</style>
