<template>
  <div class="tag-view">
    <div class="tags-view-container">
      <scroll-pane ref="scrollPane" class="tags-view-wrapper">
<!--        <router-link
          v-for="tag in tags"
          ref="reftags"
          :class="isActive(tag.path)"
          :to="tag.fullPath"
          :key="tag.path"
          tag="div"
          class="tags-view-item"
        >
          <span class="tag-text">{{ getTagName(tag) }}</span>
          <span
            class="el-icon-close icon-close"
            @click.prevent.stop="closeSelectedTag(tag)"
            @dragover.prevent
          />
        </router-link>
        -->
        <div
          v-for="tag in tags"
          ref="reftags"
          :class="isActive(tag)"
          :to="tag.fullPath"
          :key="tag.path"
          tag="div"
          class="tags-view-item"
          @click="addTag(tag)"
        >
          <span class="tag-text">{{ getTagName(tag) }}</span>
          <span
            class="el-icon-close icon-close"
            @click.prevent.stop="closeSelectedTag(tag)"
            @dragover.prevent
          />
        </div>
      </scroll-pane>
    </div>
  </div>
</template>

<script>
import ScrollPane from '@/components/container/ScrollPane'

export default {
  name: 'Index',
  components: { ScrollPane },
  data () {
    return {
      tags: [
        {
          id: '1',
          path: '1',
          meta: '子菜单1XX',
          isActive: true
        },
        {
          id: '2',
          path: '2',
          meta: '子菜单2XX',
          isActive: false
        },
        {
          id: '3',
          path: '3',
          meta: '子菜单3XX',
          isActive: false
        }
      ],
      isCloseMenu: false
    }
  },
  mounted () {
  },
  watch: {
    // 监测路由变化，根据路由添加标签
    $route () {
      // this.addTag()
      // this.moveToCurrentTag()
    }
  },
  methods: {
    // 添加标签
    addTag (item) {
      item.isActive = true
      if(item.id) {
        let exist = false
        for(let tag of this.tags) {
          tag.isActive = false
          if(tag.id === item.id) {
            tag.isActive = true
            exist = true
          }
        }
        if(!exist) {
          this.tags.push(
            Object.assign({}, item)
          )
        }
      }
    },
    getTagName (tag) {
      return tag.meta
    },
    // 关闭标签
    closeSelectedTag (tag) {
      if(tag.isActive) {
        if(this.tags.length > 1) {
          for(const [i, v] of this.tags.entries()) {
            if(v.id === tag.id) {
              this.tags.splice(i, 1)
              this.tags[i].isActive = true
              break
            }
          }
        } else {
          this.tags.splice(0, 1)
        }
      } else {
        for(const [i, v] of this.tags.entries()) {
          if(v.id === tag.id) {
            this.tags.splice(i, 1)
            break
          }
        }
      }
    },
    // 关闭其他标签
    closeOtherTags (tag) {
      this.$store.dispatch('delOtherTags', tag)
      if(!this.isActive(tag)) {
        this.$router.push(tag.fullPath)
      }
    },
    // 关闭所有标签
    closeAllTags () {
      this.$store.dispatch('delAllTags').then(() => {
        this.$router.push('/system')
      })
    },
    // 刷新
    refresh (tag) {
      const {
        fullPath,
        name
      } = tag
      this.$store.dispatch('delCache', name)
      this.$router.replace(`/refresh${fullPath}`)
    },
    // 将打开的标签移进窗口
    moveToCurrentTag () {
      const reftags = this.$refs.reftags
      this.$nextTick(() => {
        for(const reftag of reftags) {
          if(reftag.to === this.$route.fullPath) {
            this.$refs.scrollPane.moveToTarget(reftag.$el)
            // this.$store.dispatch('updateTag', this.$route)
            break
          }
        }
      })
    },
    // 是否激活标签
    isActive (tag) {
      return tag.isActive ? 'active' : ''
    }
  }
}
</script>

<style scoped lang="scss">
.tag-view {
  min-width: 1230px;
  width: 100%;
  height: 55px;
  background: #F5F5F5;
  border-top: 1px solid #e8e8e8;
  display: flex;
  align-items: center;

  .tags-view-container {
    text-align: left;
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    user-select: none;
    position: relative;

    .tags-view-wrapper {
      box-sizing: border-box;
      line-height: 52px;

      .home-view-item {
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 1px solid #cccccc;
        background: url("../../../../assets/images/home_icon.png") center center no-repeat;
        background-size: 30px 30px;
        border-radius: 3px;
        &.active {
          color: #FFFFFF;
          background: url("../../../../assets/images/home_active.png") center center no-repeat;
          background-size: 30px 30px;
          border-color: #BD0110;
        }
      }
      .tags-view-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        min-width: 95px;
        height: 30px;
        line-height: 30px;
        border: 1px solid #cccccc;
        color: #495060;
        background: #fff;
        padding: 0 12px;
        font-size: 12px;
        font-family: PingFang SC, PingFang SC-Regular;
        font-weight: 400;
        margin-left: 8px;
        border-radius: 3px;
        .tag-text {
          margin-right: 25px;
        }
        .icon-close {
          font-size: 10px;
          border-radius: 50%;
        }
        .icon-close:hover {
          background: #999999;
        }
        &:last-of-type {
          margin-right: 10px;
        }

        &.active {
          background-color: #BD0110;
          color: #FFFFFF;
          border-color: #BD0110;
        }
      }
    }

    .contextmenu {
      margin: 0;
      background: #fff;
      z-index: 9999;
      overflow: hidden;
      position: absolute;
      list-style-type: none;
      padding: 5px 0;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 400;
      color: #333;
      box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);

      li {
        margin: 0;
        height: 20px;
        line-height: 20px;
        padding: 5px 20px;
        cursor: pointer;

        &:hover {
          background: #ecf5ff;
          color: #7cb1ff;
        }
      }
    }
  }
}

$height: 53px;
</style>
