<template>
<div class="manager-change-review">
  <tags-view class="tag-view"></tags-view>
  <div class="page-container">
    <div class="page-header">
      <el-form ref="form" :inline="true" :rules="rules" :model="formInline" class="demo-form-inline">
        <el-form-item label="发起人员" prop="parentAddressCode">
          <el-input size="mini" v-model="formInline.sponsorMember" placeholder="发起人员" style="width: 225px"></el-input>
        </el-form-item>
        <el-form-item label="申请流水号" prop="parentAddressName">
          <el-input size="mini" v-model="formInline.sponsorNumber" placeholder="申请流水号" style="width: 225px"></el-input>
        </el-form-item>
        <el-form-item label="发起申请开始时间" prop="addressName">
          <el-date-picker type="date" size="mini" v-model="formInline.startTime" placeholder="发起申请开始时间" style="width: 225px"></el-date-picker>
        </el-form-item>
        <el-form-item label="发起申请结束时间" prop="addressCode">
          <el-date-picker type="date" size="mini" v-model="formInline.endTime" placeholder="发起申请结束时间" style="width: 225px"></el-date-picker>
        </el-form-item>
      </el-form>
      <div class="submit-button" @click="searchSubmit">提交</div>
    </div>
    <div class="page-content">
      <el-table
        :data="tableData"
        border
        :header-row-class-name="setHeaderRowClass"
        :row-class-name="setRowClass"
        style="width: 100%">
        <el-table-column
          prop="sponsorNumber"
          label="流水号"
          min-width="195">
        </el-table-column>
        <el-table-column
          prop="launchDate"
          label="发起日期"
          min-width="165">
        </el-table-column>
        <el-table-column
          prop="launchMember"
          label="发起人"
          min-width="195">
        </el-table-column>
        <el-table-column
          prop="salesGroup"
          label="归属销售组"
          min-width="195">
        </el-table-column>
        <el-table-column
          prop="beforeManager"
          label="原客户经理"
          min-width="265">
        </el-table-column>
        <el-table-column
          label="操作"
          min-width="135">
          <template slot-scope="scope">
            <p>
                <span style="display:inline-block; color: #bd0110;;cursor: pointer;"
                      @click="toExamine(scope.row)">审核</span>
            </p>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</div>
</template>

<script>
import TagsView from './tags/Index'
export default {
  name: 'Index',
  components: {TagsView},
  data() {
    return {
      addressTypeData: [
        {
          value: '省',
          label: '省'
        }, {
          value: '市',
          label: '市'
        }, {
          value: '区',
          label: '区'
        }, {
          value: '县',
          label: '县'
        }
      ],
      addressStateData: [
        {
          value: '1',
          label: '可用'
        }, {
          value: '2',
          label: '不可用'
        }
      ],
      formInline: {
        sponsorMember: '糖糖糖',
        sponsorNumber: '110123',
        startTime: '',
        endTime: ''
      },
      tableData: [
        {
          sponsorNumber: '2020092901',
          launchDate: '20200929',
          launchMember: 'songchao-宋超',
          salesGroup: '智慧政务组',
          beforeManager: 'zhangsan-张三（智慧业务三组）'
        },
        {
          sponsorNumber: '2020092902',
          launchDate: '20200929',
          launchMember: 'songchao-宋超',
          salesGroup: '智慧政务组',
          beforeManager: 'zhangsan-张三（智慧业务三组）'
        },
        {
          sponsorNumber: '2020092903',
          launchDate: '20200929',
          launchMember: 'songchao-宋超',
          salesGroup: '智慧政务组',
          beforeManager: 'zhangsan-张三（智慧业务三组）'
        }
      ]
    }
  },
  methods: {
    searchSubmit() {
      console.log('提交')
    },
    toExamine(row) {
      console.log(row)
    },
    // 设置表头行样式
    setHeaderRowClass ({
      row,
      rowIndex
    }) {
      return 'table-header'
    },
    // 设置表格行样式
    setRowClass ({
      row,
      rowIndex
    }) {
      return 'table-text'
    }
  }
}
</script>
<style lang="scss">
.manager-change-review {
  .el-form-item {
    margin: 0 0 10px 45px;
  }
  .el-input__inner {
    border: 1px solid #cacaca;
    border-radius: 2px;
  }
  .el-form-item__label {
    display: block;
    text-align: left;
    float: none;
    line-height: 15px;
    margin-bottom: 6px;
  }
  .table-header {
    font-size: 12px;
    font-weight: 500;
    color: #333333;
  }

  .table-text {
    font-size: 11px;
    color: #333333;
  }

  .el-table thead th {
    background: #fafafa;
  }
}
</style>
<style scoped lang="scss">
</style>
