<template>
  <div class="home-page">
    <div class="page-header">
      <div class="header-left">
        <div class="header-title">
          <span class="title-text">待办</span>
        </div>
        <div class="header-content">
          <div class="content-item">
            <i></i>
            <div>
              <p style="font-size: 27px;font-weight: 700;">133</p>
              <p style="font-size: 11px;font-weight: 400;
;">预约单待办</p>
            </div>
          </div>
          <div class="content-item">
            <i></i>
            <div>
              <p style="font-size: 27px;font-weight: 700;">8</p>
              <p style="font-size: 11px;font-weight: 400;
;">未结单待办</p>
            </div>
          </div>
          <div class="content-item" style="margin-top: 23px">
            <i></i>
            <div>
              <p style="font-size: 27px;font-weight: 700;">15</p>
              <p style="font-size: 11px;font-weight: 400;
;">开通单待办</p>
            </div>
          </div>
          <div class="content-item" style="margin-top: 23px">
            <i></i>
            <div>
              <p style="font-size: 27px;font-weight: 700;">29</p>
              <p style="font-size: 11px;font-weight: 400;
;">超时单待办</p>
            </div>
          </div>
        </div>
      </div>
      <div class="header-right">
        <div class="header-title">
          <p class="title-option" :class="{'is-choose': isChoose1}" @click="chooseOne('1')">公告</p>
          <p class="title-option" :class="{'is-choose': isChoose2}" @click="chooseOne('2')">操作手册</p>
        </div>
        <div class="right-content">
          <p class="public-item">
            <i></i>
            <span style="display: inline-block">研发需要创新精神XXXXXXXXX公告内容公告内容</span>
            <i class="el-icon-arrow-right public-icon"></i>
          </p>
          <p class="public-item">
            <i></i>
            <span>公告内容ABNM公告内容ABNM公告内容ABNM公告内容公告内容</span>
            <i class="el-icon-arrow-right public-icon"></i>
          </p>
          <p class="public-item">
            <i></i>
            <span>公告内容ABNM公告内容ABNM公告内容ABNM公告内容ABNM公告内容公告内容</span>
            <i class="el-icon-arrow-right public-icon"></i>
          </p>
          <p class="public-item">
            <i></i>
            <span>研发需要创新精神AAAAA公告内容公告内容</span>
            <i class="el-icon-arrow-right public-icon"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="content-left">
        <div class="content-title">
          <span class="title-text">热门商品</span>
        </div>
        <div class="content-content">
          <div class="content-item">
            <i></i>
            <div>
              <p style="color: #bd0110;">
                <span style="font-size: 18px;font-weight: 700;">￥88</span>
                <span style="">元/月起</span>
              </p>
              <p style="margin-top: 10px;font-size: 11px;font-weight: 400;color: #333333;
;">超高清5G+融合套餐</p>
            </div>
          </div>
          <div class="content-item">
            <i></i>
            <div>
              <p style="color: #bd0110;">
                <span style="font-size: 18px;font-weight: 700;">￥88</span>
                <span style="">元/月起</span>
              </p>
              <p style="margin-top: 10px;font-size: 11px;font-weight: 400;color: #333333;
;">超高清5G+融合套餐</p>
            </div>
          </div>
          <div class="content-item" style="margin-top: 23px">
            <i></i>
            <div>
              <p style="color: #bd0110;">
                <span style="font-size: 18px;font-weight: 700;">￥33</span>
                <span style="">元/月起</span>
              </p>
              <p style="margin-top: 10px;font-size: 11px;font-weight: 400;color: #333333;
;">超高清5G+融合套餐</p>
            </div>
          </div>
          <div class="content-item" style="margin-top: 23px">
            <i></i>
            <div>
              <p style="color: #bd0110;">
                <span style="font-size: 18px;font-weight: 700;">￥44</span>
                <span style="">元/月起</span>
              </p>
              <p style="margin-top: 10px;font-size: 11px;font-weight: 400;color: #333333;
;">超高清5G+融合套餐</p>
            </div>
          </div>
          <div class="content-item" style="margin-top: 23px">
            <i></i>
            <div>
              <p style="color: #bd0110;">
                <span style="font-size: 18px;font-weight: 700;">￥55</span>
                <span style="">元/月起</span>
              </p>
              <p style="margin-top: 10px;font-size: 11px;font-weight: 400;color: #333333;
;">超高清5G+融合套餐</p>
            </div>
          </div>
          <div class="content-item" style="margin-top: 23px">
            <i></i>
            <div>
              <p style="color: #bd0110;">
                <span style="font-size: 18px;font-weight: 700;">￥69</span>
                <span style="">元/月起</span>
              </p>
              <p style="margin-top: 10px;font-size: 11px;font-weight: 400;color: #333333;
;">超高清5G+融合套餐</p>
            </div>
          </div>
        </div>
      </div>
      <div class="content-right">
        <div class="content-title">
          <span class="title-text">业务统计</span>
          <div class="title-option">
            <span class="title-option-label">对比维度</span>
            <el-select size="small" style="width: 96px; height: 30px" v-model="value" placeholder="请选择">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </div>
        </div>
        <div class="content-content" id="homePageChart"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
      isChoose1: true,
      isChoose2: false,
      options: [{
        value: '1',
        label: '分公司'
      }, {
        value: '2',
        label: '总公司'
      }],
      value: '1'
    }
  },
  mounted () {
    this.createBarChart()
  },
  methods: {
    chooseOne (flag) {
      if (flag === '1') {
        this.isChoose1 = true
        this.isChoose2 = false
      } else {
        this.isChoose1 = false
        this.isChoose2 = true
      }
    },
    createBarChart () {
      let myChart = this.$echarts.init(document.getElementById('homePageChart'))
      let option = {
        grid: {
          left: '30px',
          right: '24px',
          bottom: '20px',
          top: '36px',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          data: ['新开', '缴费', '报停', '变更', '商品订购']
        },
        yAxis: {
          type: 'value',
          position: 'right',
          axisLabel: {
            show: true,
            textStyle: {
              color: '#333333',
              fontSize: '11px',
              fontFamily: 'PingFangSC-Regular'
            },
            interval: 0,
            showMinLabel: true,
            formatter: '{value} %'
          },
          splitLine: {
            lineStyle: {
              color: '#e8e8e8',
              type: 'dashed'
            }
          },
          min: 0,
          max: 100
        },
        series: [{
          barWidth: 30, // 柱图宽度
          label: {
            show: true,
            position: 'outside',
            formatter: '{c}0',
            color: 'auto',
            textStyle: {
              // color: '#333333',
              fontSize: '11px',
              fontFamily: 'PingFangSC-Regular'
            }
          },
          data: [20, 60, 70, 80, 70],
          type: 'bar',
          itemStyle: {
            normal: {
              // 这里是重点
              color: function (params) {
                // 注意，如果颜色太少的话，后面颜色不会自动循环，最好多定义几个颜色
                let colorList = ['#6FE28C', '#EA8766', '#6386EE', '#63CBEE', '#63EECB', '#749f83', '#ca8622']
                return colorList[params.dataIndex]
              }
            }
          }
        }]
      }
      myChart.setOption(option)
    }
  }
}
</script>

<style scoped lang="scss">
</style>
