<template>
  <div class="customer-page">
    <div class="page-header">
      <div class="content-title">客户基本信息</div>
      <div class="header-content">
        <div class="header-content-page">
          <div class="header-item">
            <img src="../../../assets/images/customer_page_user_portrait.png" alt="" width="90" height="90">
            <span>李*某</span>
          </div>
          <div class="header-item">
            <p>证件类型：居民身份证</p>
            <p>客户编号：292109901</p>
            <p>客户类型：个人客户</p>
            <p>客户地址：四川省成都市成华区东丽街*****203号</p>
          </div>
          <div class="header-item">
            <p>证件号码：510******0808</p>
            <p>联系电话：192****3568</p>
            <p>客户属性：普通个人</p>
          </div>
          <div class="header-item">
            <p>星级：
              <i class="is-stared"></i>
              <i class="is-stared"></i>
              <i class="is-stared"></i>
              <i></i>
              <i></i>
            </p>
            <p>客户归属：四川省-成都市-成华区分公司</p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="content-title">业务及账户信息</div>
      <div class="content-body">
        <div>
          <div>
            <p>账户余额 ></p>
            <p style="margin-top: 10px"><span class="num-important">300.00</span> 元</p>
          </div>
          <div>
            <p>欠费信息</p>
            <p style="margin-top: 10px">
              <span class="num-important">0.00</span> 元</p>
          </div>
          <div>
            <p>当月消费 ></p>
            <p style="margin-top: 10px">
              <span class="num-important">80.00</span> 元</p>
          </div>
        </div>
        <div>
          <div class="product-icon"></div>
          <div class="product-describe">
            <p class="product-name">数字电视</p>
            <p class="product-num">2</p>
          </div>
        </div>
        <div>
          <div class="product-icon"></div>
          <div class="product-describe">
            <p class="product-name">移动业务</p>
            <p class="product-num">2</p>
          </div>
        </div>
        <div>
          <div class="product-icon"></div>
          <div class="product-describe">
            <p class="product-name">宽带业务</p>
            <p class="product-num">300M</p>
          </div>
        </div>
        <div>
          <div class="product-icon"></div>
          <div class="product-describe">
            <p class="product-name">模拟电视</p>
            <p class="product-num">300M</p>
          </div>
        </div>
        <div>
          充值
        </div>
      </div>
    </div>
    <div class="page-footer">
      <div class="content-title">
        <p>月消费趋势</p>
        <p>上月消费：<span style="color: #F25050">88.0</span>元</p>
        <p>本月消费：<span style="color: #F25050">80.0</span>元</p>
      </div>
      <div class="footer-content" id="customerPageChart"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  mounted () {
    this.createCustomerPageChart()
  },
  methods: {
    createCustomerPageChart() {
      let myChart = this.$echarts.init(document.getElementById('customerPageChart'))
      let option = {
        grid: {
          left: '23px',
          right: '23px',
          bottom: '30px',
          top: '27px',
          containLabel: true
        },
        xAxis: {
          type: 'category',
          data: ['01月', '02月', '03月', '04月', '05月', '06月', '07月', '08月', '09月', '10月', '11月']
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            show: true,
            textStyle: {
              color: '#333333',
              fontSize: '11px',
              fontFamily: 'PingFangSC-Regular'
            },
            interval: 0,
            showMinLabel: true,
            formatter: '{value}'
          },
          splitLine: {
            lineStyle: {
              color: '#e8e8e8',
              type: 'dashed'
            }
          },
          min: 0,
          max: 1500
        },
        series: [{
          barWidth: 27, // 柱图宽度
          label: {
            show: true,
            position: 'outside',
            formatter: '',
            color: 'auto',
            textStyle: {
              // color: '#333333',
              fontSize: '11px',
              fontFamily: 'PingFangSC-Regular'
            }
          },
          data: [1200, 600, 700, 800, 700, 1200, 600, 700, 800, 700, 1000],
          type: 'bar',
          itemStyle: {
            normal: {
              // 这里是重点
              color: function () {
                return '#63CBEE'
              }
            }
          }
        },
        {
          type: 'line',
          symbolSize: 0, // 拐点圆的大小
          lineStyle: {
            color: '#EA8766',
            width: 2
          },
          data: [200, 220, 330, 450, 630, 1020, 203, 234, 230, 165, 1200]
        }
        ]
      }
      myChart.setOption(option)
    }
  }
}
</script>

<style scoped lang="scss">

</style>
