<template>
  <div class="integration-business" @scroll="scrollEvent">
    <div class="page-header">
      <div class="header-content">
        <div class="header-content-page">
          <div class="header-item">
            <img src="../../../assets/images/customer_page_user_portrait.png" alt="" width="59" height="59">
            <span>李*某</span>
          </div>
          <div class="header-item">
            <p>客户编号：292109901</p>
            <p>客户地址：四川省成都市成华区东丽街*****203号</p>
          </div>
          <div class="header-item">
            <p>客户属性：普通个人</p>
            <p>客户类型：个人客户</p>
          </div>
          <div class="header-item">
            <p>联系电话：192****3568</p>
            <p>客户归属：四川省-成都市-成华区分公司</p>
          </div>
        </div>
      </div>
    </div>
    <div class="page-content">
      <p class="content-title">
        <span class="vertical-line"></span>
        <span class="title-text">01. 融合套餐选择</span>
      </p>
      <div class="fuse-content jump-item">
        <div class="fuse-button" :class="{'is-choose': first}" @click="fuseChoose('first')">超高清5G+套餐</div>
        <div class="fuse-button" :class="{'is-choose': second}" @click="fuseChoose('second')">智慧家庭套餐</div>
        <div class="fuse-button" :class="{'is-choose': third}" @click="fuseChoose('third')">缤纷5G+套餐</div>
        <div class="fuse-button" :class="{'is-choose': fourth}" @click="fuseChoose('fourth')">家庭组网套餐</div>
        <div class="fuse-button" :class="{'is-choose': fifth}" @click="fuseChoose('fifth')">超高清5G+套餐</div>
        <div class="fuse-button" :class="{'is-choose': sixth}" @click="fuseChoose('sixth')">超高清5G+套餐</div>
      </div>
      <p class="content-title">
        <span class="vertical-line"></span>
        <span class="title-text">02. 资费选择</span>
      </p>
      <div class="tariff-selection">
        <div class="tariff-button" :class="{'is-choose': tariffFirst}" @click="tariffChoose('tariffFirst')">
          超高清5G+标准资费120元/月
        </div>
        <div class="tariff-button" :class="{'is-choose': tariffSecond}" @click="tariffChoose('tariffSecond')">
          超高清5G+1档资费140元/月
        </div>
        <div class="tariff-button" :class="{'is-choose': tariffThird}" @click="tariffChoose('tariffThird')">
          超高清5G+2档资费160元/月
        </div>
        <div class="tariff-button" :class="{'is-choose': tariffFourth}" @click="tariffChoose('tariffFourth')">
          超高清5G+3档资费200元/月
        </div>
      </div>
      <p class="content-title">
        <span class="vertical-line"></span>
        <span class="title-text">03. 成员构成</span>
      </p>
      <div class="member-ship jump-item">
        <el-table
          :data="memberTableData"
          border
          :header-row-class-name="setHeaderRowClass"
          :row-class-name="setRowClass"
          style="width: 100%">
          <el-table-column
            prop="productName"
            label="商品名称"
            min-width="317">
          </el-table-column>
          <el-table-column
            prop="postage"
            label="资费"
            min-width="195">
          </el-table-column>
          <el-table-column
            prop="explain"
            label="说明"
            min-width="452">
          </el-table-column>
          <el-table-column
            label="操作"
            min-width="189">
            <template slot-scope="scope">
              <p>
                <span style="display:inline-block; color: #004a8b;cursor: pointer;"
                      @click="breakOff(scope.row)">断开</span>
                <span style="display:inline-block; color: #004a8b;cursor: pointer;margin-left: 60px;"
                      @click="addMember(scope.row)">添加成员</span>
              </p>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <p class="content-title">
        <span class="vertical-line" style="background: #FFFFFF"></span>
        <span class="title-text">已添加成员</span>
      </p>
      <div class="member-ship">
        <el-table
          :data="addMemberData"
          border
          :header-row-class-name="setHeaderRowClass"
          :row-class-name="setRowClass"
          style="width: 100%">
          <el-table-column
            prop="memberNum"
            label="成员号码"
            min-width="317">
          </el-table-column>
          <el-table-column
            prop="postage"
            label="资费"
            min-width="195">
          </el-table-column>
          <el-table-column
            prop="memberType"
            label="成员类型"
            min-width="287">
          </el-table-column>
          <el-table-column
            prop="installationMode"
            label="安装方式"
            min-width="165">
          </el-table-column>
          <el-table-column
            label="操作"
            min-width="189">
            <template slot-scope="scope">
              <p>
                <span style="display:inline-block; color: #004a8b;cursor: pointer;"
                      @click="breakOff(scope.row)">断开</span>
                <span style="display:inline-block; color: #004a8b;cursor: pointer;margin-left: 60px;"
                      @click="addMember(scope.row)">添加成员</span>
              </p>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <p class="content-title" style="margin-top: 40px;">
        <span class="vertical-line"></span>
        <span class="title-text">04. 营销活动</span>
      </p>
      <div class="marketing-activity jump-item">
        <el-table
          :data="marketingData"
          border
          :header-row-class-name="setHeaderRowClass"
          :row-class-name="setRowClass"
          style="width: 100%">
          <el-table-column
            label="营销活动"
            min-width="317">
            <template slot-scope="scope">
              <el-select v-model="marketActivityValue" placeholder="请选择" size="mini">
                <el-option
                  v-for="item in scope.row.marketActivity"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </template>
          </el-table-column>
          <el-table-column
            prop="marketExplain"
            label="活动说明"
            min-width="482">
          </el-table-column>
          <el-table-column
            label="绑定商品"
            min-width="354">
            <template slot-scope="scope">
              <div>
                <el-checkbox v-model="scope.row.bindingProduct.isChoose"></el-checkbox>
                <span style="display: inline-block; margin-left: 8px">{{ scope.row.bindingProduct.content }}</span>
              </div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <p class="content-title" style="margin-top: 40px;">
        <span class="vertical-line"></span>
        <span class="title-text">05. 费用信息</span>
      </p>
      <div class="marketing-activity">
        <el-table
          :data="costTableData"
          border
          :header-row-class-name="setHeaderRowClass"
          :row-class-name="setRowClass"
          style="width: 1200px"
        >
          <el-table-column
            prop="advanceDeposit"
            label="预存款"
            min-width="310">
          </el-table-column>
          <el-table-column
            prop="commodityCharges"
            label="商品收费"
            min-width="299">
          </el-table-column>
          <el-table-column
            label="优惠金额"
            min-width="320">
            <template slot-scope="scope">
              <span style="color: #004a8b;">{{ scope.row.preferentialAmount }}</span>
            </template>
          </el-table-column>
          <el-table-column
            label=" 实收金额"
            min-width="216">
            <template slot-scope="scope">
              <span style="color: #f25050;">{{ scope.row.paidAmount }}</span>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="form-submit jump-item">
        <p class="default-button reset" @click="closePage">关闭</p>
        <p class="default-button submit" @click="orderSubmit">提交订单</p>
      </div>
    </div>
    <div class="fixed-page">
      <div class="fixed-item" :class="activeClass === 0 ? 'is-choose' : ''" @click="getActiveClass(0)">
        <i class="item-icon product-icon" :class="activeClass === 0 ? 'product-icon-choose' : ''"></i>
        <p class="item-text">商品选择</p>
      </div>
      <div class="fixed-item" :class="activeClass === 1 ? 'is-choose' : ''" @click="getActiveClass(1)">
        <i class="item-icon member-icon" :class="activeClass === 1 ? 'member-icon-choose' : ''"></i>
        <p class="item-text">成员构成</p>
      </div>
      <div class="fixed-item" :class="activeClass === 2 ? 'is-choose' : ''" @click="getActiveClass(2)">
        <i class="item-icon market-icon" :class="activeClass === 2 ? 'market-icon-choose' : ''"></i>
        <p class="item-text">营销活动</p>
      </div>
      <div class="fixed-item" :class="activeClass === 3 ? 'is-choose' : ''" @click="getActiveClass(3)">
        <i class="item-icon complete-icon" :class="activeClass === 3 ? 'complete-icon-choose' : ''"></i>
        <p class="item-text">完成</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Index',
  data () {
    return {
      fuseChooseData: [false, false, false, false, false, false],
      first: true,
      second: false,
      third: false,
      fourth: false,
      fifth: false,
      sixth: false,
      tariffFirst: true,
      tariffSecond: false,
      tariffThird: false,
      tariffFourth: false,
      memberTableData: [
        {
          productName: '192手机通信业务',
          postage: '65.00元/月',
          explain: '200分钟通话/20G流量/300条短信'
        }, {
          productName: '超高清电视业务',
          postage: '25.00元/月',
          explain: '可开通2台超高清电视业务'
        }, {
          productName: ' 500M高速上网业务',
          postage: '30.00元/月',
          explain: '可开通或升级1个500M有线宽带业务'
        }
      ],
      addMemberData: [
        {
          memberNum: '19210889696',
          postage: '65.00元/月',
          memberType: '192手机通信业务',
          installationMode: '自己安装'
        },
        {
          memberNum: '29210880301',
          postage: '25.00元/月',
          memberType: '超高清电视业务',
          installationMode: '上门安装'
        }
      ],
      marketingData: [
        {
          marketActivity: [
            {
              value: '1',
              label: '双12促销活动'
            }, {
              value: '2',
              label: '双11促销活动'
            }
          ],
          marketExplain: ' 预缴1年月租+999置换55寸超高清电视一台',
          bindingProduct: {
            isChoose: true,
            content: '55寸超高清电视（市场价1999.00元）'
          }
        }
      ],
      costTableData: [
        {
          advanceDeposit: '1440.00',
          commodityCharges: '1999.00',
          preferentialAmount: '1999.00',
          paidAmount: '2439.00'
        }
      ],
      marketActivityValue: '1',
      activeClass: 0
    }
  },
  mounted () {
    let scrollDiv = document.getElementById('pageContainer')
    scrollDiv.addEventListener('scroll', this.scrollEvent)
  },
  methods: {
    scrollEvent(e) {
      let scrollItems = document.querySelectorAll('.jump-item')
      let scrollHeight = e.target.scrollTop
      for (let i = scrollItems.length - 1; i >= 0; i--) {
        // 判断滚动条滚动距离是否大于当前滚动项可滚动距离
        // let judge = scrollHeight >= scrollItems[i].offsetTop - scrollItems[0].offsetTop
        let judge = (scrollHeight + e.target.offsetHeight / 2) >= scrollItems[i].offsetTop // 滚动卷起的高度加上当前div的显示高度的一半，即元素出现在中间就切换标签
        if (judge) {
          this.activeClass = i
          break
        }
      }
      // 滚动条触底了
      if (e.target.scrollTop + e.target.offsetHeight === e.target.scrollHeight) {
        this.activeClass = 4 - 1
      }
      console.log(this.activeClass)
    },
    getActiveClass(index) {
      // this.activeClass = index
      // let scrollDiv = document.getElementById('pageContainer')
      // scrollDiv.scrollTop = 500
      let jump = document.querySelectorAll('.jump-item')
      jump[index].scrollIntoView({ block: 'center', behavior: 'smooth', inline: 'start' })
    },
    fuseChoose (index) {
      this.first = this.second = this.third = this.fourth = this.fifth = this.sixth = false
      this[index] = true
    },
    tariffChoose (index) {
      this.tariffFirst = this.tariffSecond = this.tariffThird = this.tariffFourth = false
      this[index] = true
    },
    // 设置表头行样式
    setHeaderRowClass ({
      row,
      rowIndex
    }) {
      return 'table-header'
    },
    // 设置表格行样式
    setRowClass ({
      row,
      rowIndex
    }) {
      return 'table-text'
    },
    // 断开
    breakOff (row) {
      console.log(row)
    },
    // 添加成员
    addMember (row) {
      console.log(row)
    },
    // 提交订单
    orderSubmit() {
      console.log('订单')
    },
    // 关闭
    closePage() {
      console.log('关闭')
    }
  }
}
</script>
<style lang="scss">

</style>
<style scoped lang="scss">

</style>
