<template>
  <el-menu
    :show-timeout="200"
    :default-active="$route.path"
    class="nav-view"
    background-color="#F5F5F5"
    text-color="#333333"
    :collapse="isCollapse"
    :router="true"
    :collapse-transition="false"
    active-text-color="#BD0110">
    <el-menu-item class="menu-control" index="3" disabled @click.native="closeMenu()">
      <i class="icon-share menu-icon" :class="{'is-active': isCollapse}"></i>
      <span slot="title" class="menu-text">我的工作</span>
    </el-menu-item>
    <el-submenu index="1">
      <template slot="title">
        <i class="icon-share customer-manage-icon"></i>
        <span class="first-menu-text">客户管理</span>
      </template>
      <el-menu-item index="/system" class="menu-item">首页</el-menu-item>
      <el-menu-item index="/system/customerPage" class="menu-item">客户首页</el-menu-item>
      <el-menu-item index="/system/accountManageChange" class="menu-item">客户经理变更申请</el-menu-item>
      <el-menu-item index="/system/integrationBusiness" class="menu-item">5G融合业务</el-menu-item>
      <el-menu-item index="/system/addressManage" class="menu-item">标准地址管理</el-menu-item>
      <el-menu-item index="/system/managerChangeReview" class="menu-item">客户经理变更审核</el-menu-item>
    </el-submenu>
    <el-submenu index="2">
      <template slot="title">
        <i class="icon-share user-manage-icon"></i>
        <span class="first-menu-text">用户管理</span>
      </template>
      <el-menu-item index="2-1" class="menu-item">选项1</el-menu-item>
    </el-submenu>
    <el-submenu index="3">
      <template slot="title">
        <i class="icon-share product-manage-icon"></i>
        <span class="first-menu-text">产品管理</span>
      </template>
      <el-menu-item index="3-1" class="menu-item">选项1</el-menu-item>
    </el-submenu>
    <el-submenu index="4">
      <template slot="title">
        <i class="icon-share order-manage-icon"></i>
        <span class="first-menu-text">订单管理</span>
      </template>
      <el-menu-item index="4-1" class="menu-item">选项1</el-menu-item>
    </el-submenu>
    <el-submenu index="5">
      <template slot="title">
        <i class="icon-share business-manage-icon"></i>
        <span class="first-menu-text">业务受理</span>
      </template>
      <el-menu-item index="5-1" class="menu-item">选项1</el-menu-item>
    </el-submenu>
    <el-submenu index="6">
      <template slot="title">
        <i class="icon-share market-manage-icon"></i>
        <span class="first-menu-text">营销资源管理</span>
      </template>
      <el-menu-item index="6-1" class="menu-item">选项1</el-menu-item>
    </el-submenu>
    <el-submenu index="7">
      <template slot="title">
        <i class="icon-share financial-report-icon"></i>
        <span class="first-menu-text">经分报表</span>
      </template>
      <el-menu-item index="7-1" class="menu-item">选项1</el-menu-item>
    </el-submenu>
    <el-submenu index="8">
      <template slot="title">
        <i class="icon-share system-manage-icon"></i>
        <span class="first-menu-text">系统管理</span>
      </template>
      <el-menu-item index="8-1" class="menu-item">选项1</el-menu-item>
    </el-submenu>
  </el-menu>
</template>

<script>
export default {
  name: 'Index',
  props: {
    isClosed: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isCollapse: false
    }
  },
  methods: {
    closeMenu() {
      this.isCollapse = !this.isCollapse
      this.$emit('update:isClosed', this.isCollapse)
    }
  }
}
</script>

<style scoped lang="scss">
.nav-view:not(.el-menu--collapse) {
  width: 210px;
  min-height: 400px;
}
.nav-view {
  border: none;
  .menu-control .is-active {
    transform:rotate(180deg);
  }
  .el-menu-item.is-disabled {
    cursor: pointer;
    opacity: 1;
    border-bottom: 1px solid #e8e8e8;
  }
  //width: 210px;
  .first-menu-text {
    font-size: 15px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
  }
  .menu-item {
    font-size: 12px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    text-align: left;
    color: #333333;
    padding-left: 80px !important;
  }
  .icon-share {
    width: 15px;
    height: 15px;
    margin-right: 21px;
    margin-left: 6px;
    display: inline-block;
  }
  .menu-icon {
    background: url("../../../assets/images/meun_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .menu-text {
    font-size: 15px;
    font-family: PingFang SC, PingFang SC-Regular;
    font-weight: 400;
    text-align: left;
    color: #999999;
  }
  .customer-manage-icon {
    background: url("../../../assets/images/customer_manage_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .user-manage-icon {
    background: url("../../../assets/images/user_manage_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .product-manage-icon {
    background: url("../../../assets/images/product_manage_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .order-manage-icon {
    background: url("../../../assets/images/order_manage_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .business-manage-icon {
    background: url("../../../assets/images/business_manage_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .market-manage-icon {
    background: url("../../../assets/images/market_manage_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .financial-report-icon {
    background: url("../../../assets/images/financial_report_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
  .system-manage-icon {
    background: url("../../../assets/images/system_manage_icon.png") center center no-repeat;
    background-size: 15px 15px;
  }
}
</style>
